* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#root {
  background: #82b74b;
}

.fullWidth {
  width: 100%;
}

.clear {
  clear: both;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.clearFix:after {
  content: '.';
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.textLink {
  text-decoration: underline;
}

.container {
  padding: 0 20px;
}
